a, .section-title h2 span, .typed-cursor, .media-icon i, .featured-package .primary-btn, .header .navbar-nav>li>a.active, .header .navbar-nav>li>a:hover, .header .navbar-nav>li>a:focus, .how-works-item .icon-outer, .single-feature-item .feature-icon {
    color: #673AB7;
}
a:hover, a:focus {
    color: #945df5;
}
.gredient-overlay, .bg-gray .featured-package, .featured-package {
    background: #673AB7;
    background: -webkit-linear-gradient(to left, #673AB7, #B06AB3 );
    background: -webkit-linear-gradient(right, #673AB7, #B06AB3 );
    background: linear-gradient(to left, #673AB7, #B06AB3 );
}
.single-package, .primary-btn, .media:hover .media-icon, .owl-theme .owl-dots .owl-dot span, .widget h3:before, .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .scrollup, .header .nav li a:before, .header .nav li a:after, .how-works-item:hover .icon-outer, .panel-heading, .primary-bg {
	background: #673AB7;
}

.primary-btn:hover, .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span, .sandy-pagination .pagination>li.active>a, .header-nav .navbar-nav > li .sub-menu li > a:hover, .sandy-pagenation a:hover, .sandy-pagenation a.active{
	background:#945df5;
}
.lines, .lines:before, .lines:after {
	border-top:2px solid #673AB7;
}
@-webkit-keyframes color {
    100%, 0% {
        stroke: #673AB7;
    }
    40% {
        stroke: #673AB7;
    }
    66% {
        stroke: #673AB7;
    }
    80%,
    90% {
        stroke: #673AB7;
    }
}
@keyframes color {
    100%, 0% {
        stroke: #673AB7;
    }
    40% {
        stroke: #673AB7;
    }
    66% {
        stroke: #673AB7;
    }
    80%,
    90% {
        stroke: #673AB7;
    }
}
.media-icon, .post-thumb, .sandy-pagination .pagination>li.active>a, .avatar, .scrollup:hover, .tagcloud a, .how-works-item .icon-outer{
	border: 1px dashed #673AB7;
}
.blog-footer{
	border-top:1px dashed #673AB7;
}
.input-box:focus,
.textarea-box:focus{
	border: 1px solid #673AB7;
}
.about-boxes .media{
    border-color: #673AB7;
}

.primary-btn-2 {
    background: #222D39;
}
.primary-btn-2:hover{
    background: #677294;
}
.primary-btn-3{
    background: #677294;
}
.primary-btn-3:hover{
    background: #222D39;
}